@import './index.scss';

.SingleDatePicker {
    width: 100%;
    border: 1px solid $primary-gray-color;    
    position: relative;
  .SingleDatePickerInput {
    border: 0;
    width: 100%;
    .DateInput {
        font-size: 14px;
        width: 100%;      
      .DateInput_input {
        border: 0;
        line-height: 21px;
        padding: 0 10px;
        padding: 6px 8px;
        font-size: 14px;
        color: $primary-text-color;
      }
      .DateInput_input__focused {
        border-bottom: 0;
      }
      .DateInput_fang{
        // display: none;
        top: 34px !important;
    }
    }
    .DayPickerKeyboardShortcuts_show__bottomRight {
      display: none;
    }
  }
}
.icon{
    background-image: url('../assets/icons/down-arrow.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: absolute;
    right: 10px;
}        
.SingleDatePicker_picker{
    top: 44px !important;
}