@import './index.scss';
.select-layout{
    width: 100%;
    .select-btn{
        font-size: 14px;
        border-radius: 0;
        border-color: $gray-dark-color;
        text-align: left;
        font-weight: $font-weight-regular;
        position: relative;
        .icon{
            background-image: url('../assets/icons/down-arrow.png');
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            position: absolute;
            right: 0;
            bottom: 0;
        }        
    }
    .dropdown-toggle::after{
        display: none;
    }
    .select-btn:hover{
        background-color: $white-color;
        color: $gray-color;
        font-weight: $font-weight-regular;
    }
    .select-btn:active{
        background-color: $white-color;
        color: $gray-color;
        box-shadow: none;
    }    
}

