@import './index.scss';
.header{
    border-bottom: 1px solid $primary-gray-color;    
    .title{
        color: $primary-color;
    }
    .nav-list{
        float: right;
    }
    .navbar-nav{
        .nav-item{
            padding-left: 10px;
        }
    }
    .toggler:focus{
        box-shadow: none;
        border: 1px solid $primary-dark-color;
    }
}