@import "./index.scss";

.home{
    background-color:$primary-bg-color;
    .submit-btn{
        border-radius: 0;
        background: $secondary-color;
        border-color: $secondary-color;
        font-size: 14px;
        padding: 4px 20px;
    }
}
@media only screen and (max-width: 991px) {
    .m-layout{     
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2000;     
        .m-col-left{
            padding: 0;
        }
        .m-col-right{
            padding: 0;
        }
        .result-card{
            border-radius: 0;
        }
        .submit-btn{
            height: 100%;
            width: 100%;
            border-radius: 0;
        }
    }
}