$primary-color: #FA770C;
$primary-light-color: #FED99D;
$primary-dark-color: #D75A08;
$secondary-color: #62B15E;
$primary-bg-color: #FFFFFF;
$primary-text-color: #848484;
$primary-gray-color: #ececec;
$primary-dark-color: #000000;

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
    font-family: 'Lato';
    width: 100%;
    height: 100%;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: $primary-text-color;
    background: $primary-bg-color;
    a{
        text-decoration: none;
        color: $primary-gray-color;
    }
}
.form-card{
    background-color: $primary-bg-color;
    padding: 10px;
    height: 100%;
}
.result-card{
    background-color: $primary-bg-color;
    padding: 10px;
    height: 100%
}