@import './index.scss';
.header-action{
    width: 0;    
    .add-btn{
        background: transparent;
        color: #848484;
        border: 1px solid $primary-dark-color;
        padding: 0px 8px;
        border-radius: 0;
    }
    .add-btn:focus{
        background: transparent;
        color: #848484;
        border: 1px solid $primary-dark-color;
        padding: 0px 8px;
        border-radius: 0;
        box-shadow: none !important;
    }
    .add-btn:hover{
        background: transparent;
        color: #848484;
        border: 1px solid $primary-gray-color;
        padding: 0px 8px;
        border-radius: 0;
        box-shadow: none !important;
    }
}
.close-btn{
    border: 0;
    margin: 0;
    background: transparent;
}
p{
    margin: 0;
    padding-top: 10px;
}