@import './index.scss';

.submit-btn{
    border-radius: 0;
    background: $secondary-color;
    border-color: $secondary-color;
    font-size: 14px;
    padding: 4px 20px;
}
.submit-btn:focus{
    box-shadow: none;
}