@import "./index.scss";

.total-result-card{
  .result-item{
    display: flex;    
    p{
      font-weight: 500;
      color: $primary-text-color;
      font-size: large;
    }
    .label{
      flex: 3;
    }
    .value{
      flex: 6;
    }
  }
}
@media only screen and (max-width: 991px) {
  .total-result-card {
    background: $primary-bg-color;
    padding: 10px 20px;
    border: 1px solid $primary-gray-color;
    .result-item{
      display: flex;
      p{
        flex: 1;
        font-weight: 500;
        color: $primary-text-color;
        font-size: large;
      }
    }    
  }
}
